body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    color: crimson;
}
h3{
    font-size: 25px;
    font-weight: 800;
}
.home{
    display: flex;
    background-image:url(images/bg1.jpg);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    height: 800px;
}
.half-width{
   margin-top: 5%;
   width: 45%;
   padding-left: 5%;
}
.half-width img{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(cyan, steelblue);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: crimson;
    border: 2px solid rgb(32, 115, 184);
    transition: all 0.3s ease;
}
.link-button:hover{
    color: crimson;
    background-image: none;
    border: 5px solid rgb(4, 61, 107);
    font-size: 20px;
}
.section-title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.about-me{
    display: flex;
    margin-bottom: 200px;
    background-image: url(images/dream-bg2.png);
    background-repeat:no-repeat;
    background-position: right;
}
.services{
    display: flex;
    margin-bottom: 200px;
    background: rgb(0, 0, 0);
    
}

.services .card{
    height: 400px;
    padding: 10% 1% 5% 1%;
    color: white;
    text-align: center;
}
.services .card .box i{
    font-size: 35px;
}

.services .card .box{
    width: calc(20%-20px);
    color: white;
    background: steelblue;
    border: 2px solid navy;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;        
}
.services .card .box:hover{
    background: crimson;
    transform: scale(1.05);
}

.team{
    display: flex;
    margin-bottom: 200px;
    background: rgb(0, 0, 0);
}
.team .card{
    height: auto;
    padding: 10% 1% 5% 1%;
    color: white;
    text-align: center;
}
.team .card .box img{
    width: 40%;
    border: 3px solid rgb(124, 223, 12);
    border-radius: 50%;
}
.team .card .box{
    width: calc(20%-20px);
    color: white;
    background: steelblue;
    border: 2px solid navy;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;        
}
.team .card .box:hover{
    background: crimson;
    transform: scale(1.05);
}
